<!-- <div class="form">
  <h2 id="registration">Registration Form</h2>

  <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
    <div formGroupName="personalDetails
    ">
      <label for="fname">First Name</label>
      <input
        type="text"
        id="fname"
        placeholder="your first name.."
        formControlName="firstName"
      />

      <label for="lname">Last Name</label>
      <input
        type="text"
        id="lname"
        placeholder="your last name.."
        formControlName="lastName"
      />

      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        placeholder="your mailid.."
        formControlName="email"
      />
    </div>

    <label for="country">Country</label>
    <select id="country" formControlName="country">
      <option value="austrailia">Australia</option>
      <option value="india">India</option>
      <option value="russia">Russia</option>
      <option value="usa">USA</option>
      <option value="thailand">Thailand</option>
    </select>

    <label for="gender">Gender</label>
    <input type="radio" id="female" value="female" formControlName="gender" />
    <label for="female">female</label>

    <input type="radio" id="male" value="male" formControlName="gender" />
    <label for="male">male</label>

    <input type="radio" id="other" value="other" formControlName="gender" />
    <label for="other">Other</label>

    <input type="submit" value="submit" id="btn" />
  </form>
</div> -->
